<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Stats</title>
</head>
<body>
    <h1>Quest added for <%= character %>: <%= quests %></h1>
    <h1>Equipment added for <%= character %>: <%= equipment %></h1>
    <h1><%= result%></h1>
    <ul>
        <li>
        </li>
        <li>
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</body>
</html>